<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User</title>
	{% load static %}
<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'login/css/user.css' %}" media="screen" title="no title"  charset="utf-8">
<!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
	<header>
		<h4>Test App</h4>
		<a href="/">Home</a>
		{% if not request.session.user %}
		<a href="/gosignin" class="signin">Sign In</a>
		{% endif %}
		{% if request.session.user %}
		<a href="/logout" class="logout">Log Out</a>
		{% endif %}
	</header>

	<div class="container">
		<div class="userinfo">
			<h5>{{user.first_name}} {{user.last_name}}</h5>
			<p>Registered at: {{user.created_at}}</p>
			<p>User ID: {{user.id}}</p>
			<p>Email address: {{user.email}}</p>
		</div>

		<!-- Post a message to the wall area -->
		<fieldset>
		<legend>Post a message</legend>
		<form  class ="message_form" action="{{user.id}}/posts" method="POST">
			{% csrf_token %}
			<textarea name="message"></textarea>
			<input type="submit" name="post_message">
		</form>
		</fieldset>

		<!-- All the posts -->
		{% for message in themessages %}
		<fieldset>
			<!-- MESSAGE POSTED -->
			<legend>{{message.user.first_name}} {{message.user.last_name}} - {{ message.created_at }}</legend>
			<p>{{ message.message }}</p>
			<!-- COMMENT POSTED -->
			{% for comment in comments %}
			{% if message.id == comment.message_id %}
			<fieldset>
				<legend>{{ comment.user.first_name }} {{comment.user.last_name}} - {{ comment.created_at }}</legend>
				<p>{{ comment.comment }}</p>
			</fieldset>
			{% endif %}
			{% endfor %}
			
			<!-- COMMENT POSTING FORM -->
			<form action="{{ user.id }}/comments" class="comment_form" method="POST">
				{% csrf_token %}
				<textarea name="comment">Post a comment...</textarea>
				<input type="hidden" name="message_id" value="{{message.id}}">
				<input type="submit" name="post_comment">
			</form>

		</fieldset>
		{% endfor %}


	</div>
</body>
</html>