* {
	margin: 0px;
	padding: 0px;
}

header{
	border-bottom: 2px solid black;
}

header h4, a{
	display: inline;
}

a.signin{
	margin-left: 330px;
}

div.top h5,a{
	display: inline;
}

div.top a{
	margin-left: 350px;
}